* {
    font-family: 'Roboto', sans-serif;
  }

html{
    background-image: url("../Assets/Gradient.png");
    background-size: cover;
  background-repeat: no-repeat;

}

body {
 overflow-y: scroll;
 font-size: 1.8rem;
 color: black;
}

img{
    border: solid white;
}

#container{
    margin: 5vh 3vw;
}

#paras{
    margin-top: 3vw;
}

button{
    background-color: white;
    border: none;
    width: 10em;
    margin: 3vw 0;
    height: 3em;
    font-size: 1.5vw;
}