* {
    font-family: 'Roboto', sans-serif;
  }

html{
    background-image: url("../Assets/Gradient.png");
    background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
}

body {
 overflow-y: scroll;
  
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#container {
  width: 85vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 4%;

}

#settimg{
    height: 13%;
}

#exitimg{
    height: 13%;
}

#logoimg{
    width: 80%;
}

#logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:170%;
    
    color: white;
}

#containerBot {
  width: 85vw;
  height: 50vh;
  display: flex;
  align-items: center;
}

#playgrounds{
   
    width: 80%;
    height: 100%;
}

#thumbnails{
    width: 100%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#thumb{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    font-size: 2vw;
    align-items: center;
    border: none;
    border-radius: 20px;
    
}

#thumbForm{
    width: 30%;
    margin-right: 3%;
    margin-bottom: 20px;
    height: 47%;
}

#thumb:hover, #thumb2:hover{
    background-color: rgb(179, 179, 179);
}

#playgroundName{
    cursor:default;
}

#collab{
    
    width: 20%;
    height: 100%;
}

#thumb2{
    width: 98%;
    height: 47%;
    display: flex;
    justify-content: center;
    font-size: 2vw;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#botText{
    font-size: 150%;
    color: white;
}

#botText2{
    font-size: 150%;
    color: white;
    display: flex;
    align-items: center;
    height: 50px;
}

#textandplus{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#newImage{
    width: 50px;
    filter: brightness(1000%);
}

#newImage:hover{
    filter: brightness(100%);
}

.overlay-container{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 2.5%;
    pointer-events: visible;
}

.overlay-back {
    z-index: 201;
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    display: grid;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

#popupContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    pointer-events: none;
    align-items: center;
}

#settings-name{
    width:100%;
    border-radius: 5px;
    padding-left: 0.5rem;
    background: #C0C0C0;
    color: black;
    font-size: 1rem;
    border: 0.1em;
    margin-top: 1vw;
    height: 2rem;
}

.overlay-container h4 {
    font-size: 2.3vw;
    margin: 0rem 0rem 1rem 0rem;
}

#settings-save{
    margin-right: 0.5vw;
}

#settings-save, #settings-cancel {
    display: inline-block;
    padding: 0.35em 0.7em;
    border: 0.1em;
    border-radius: 5px;
    box-sizing: border-box;
    background: #6DB9FF;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: white;
    text-align: center;
    transition: all 0.2s;
    }

    #settings-save:hover, #settings-cancel:hover, #settings-delete:hover{
    background-color: #333333;
    color: white;
}

#create-playground-buttons{
    width: 100%;
    margin-top: 2vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#buttonsInputDiv{
  height: 95%;
}

#settingsStuff{
    height: 100%;
}

#overlay-back{
    z-index: 200;
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    background-color: #000000;
    transition: opacity 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}